@import 'variables';

.slider {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #e8e8e8;

  &__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1140px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    border-left: 20px solid $pinkColor;
    padding-left: 19px;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 60px;
    line-height: 45px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: $blackColor;
  }

  &__subtitle {
    font-size: 40px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $blackColor;
  }

  &__subtitle_last-word {
    margin-left: 0;
    color: $pinkColor;
  }

  &-image {
    display: flex;

    img {
      display: block;
      width: 100%;
    }
  }
}
