@import 'variables';

.login {
  width: 70vw;
  height: 50vh;
  border: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__caption {
    font-weight: 400;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__block {
    margin-bottom: 1rem;
  }

  &__input {
    border: 1px solid #eee;
    padding: 10px;
    margin: 5px;
  }

  &__button {
    background-color: $pinkColor;
    color: #fff;
    padding: 10px 15px;
  }
}
